name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build
      run:  python generator.py

    - name: Check GitHub Pages status
      uses: crazy-max/ghaction-github-status@v1
      with:
        pages_threshold: major_outage

    - name: Deploy to GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: output
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}